.conda/*
imgurApi.txt
Selfie-*
dataset/*
dataset_old/*
dataset_split/*
dataset_phone_preview/*
dataset_related/forAcademicPhotos/*
dataset_related/Original Dataset - Results On Test Data (without compression).html
models/*
secrets/*
secrets/chatgbt_prompts.txt
dataset_related/Egyptian_Arabic_Conversational_Speech_Corpus/*
dataset_related/archive_2/*
academicimagestemp/*
dataset_related/imgsPropsv2.csv
