.conda/*
imgurApi.txt
Selfie-*
dataset/*
dataset_old/*
dataset_split/*
dataset_phone_preview/*
dataset_related/forAcademicPhotos/*
dataset_related/Original Dataset - Results On Test Data (without compression).html
models/*
secrets/*
secrets/chatgbt_prompts.txt
dataset_related/Egyptian_Arabic_Conversational_Speech_Corpus/*
dataset_related/archive_2/*
academicimagestemp/*
dataset_related/imgsPropsv2.csv
dataset_related/no metadata, rgb, 306x306, 30 epochs, no augmentation, tf - Results On Test Data.html
dataset_related/m01cnn on test df, class and probs sorting, no metadata, rgb, 306x306, 30 epochs, no augmentation, tf.html
dataset_related/m01cnn on test df, probs sorting, no metadata, rgb, 306x306, 30 epochs, no augmentation, tf.html
dataset_related/m01cnn on test df, class and probs sorting, no metadata, 8 batch size, rgb, 306x306, 30 epochs, no augmentation, tf.html
dataset_related/m01cnn on test df, probs sorting, no metadata, 8 batch size, rgb, 306x306, 30 epochs, no augmentation, tf.html
dataset_related/m01.1cnn on test df, class and probs sorting, no metadata, 32 batch size, rgb, 306x306, 30 epochs, no augmentation, tf.html
dataset_related/m01.1cnn on test df, probs sorting, no metadata, 32 batch size, rgb, 306x306, 30 epochs, no augmentation, tf.html
